{% extends 'base.html.twig' %}

{% block title %}Éditer le joueur : {{ player.firstName }} {{ player.lastName }}{% endblock %}

{% block body %}
    <h1>Éditer le joueur : {{ player.firstName }} {{ player.lastName }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_team_players', {'id': player.team.id}) }}" class="btn back-btn">Retour à la liste des joueurs</a>
{% endblock %}