{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}
    <div class="main-page-container">
        <h1 class="team-header">Bienvenue, {{ user.email }}</h1>

        <div class="last-game-section">
            <h2 class="section-title">Last Game</h2>
            {% if lastGame %}
                <div class="game-details">
                    <p><strong>Date:</strong> {{ lastGame.date | date("d/m/Y") }}</p>
                    <p><strong>Opponent:</strong> {{ lastGame.TeamAway.name }}</p>
                    <p><strong>Score:</strong> {{ lastGame.ScoreHome }} - {{ lastGame.ScoreAway }}</p>

                    <!-- Button to go to the rating page -->
                    <div class="rate-button-container">
                        <a href="{{ path('app_rate_game', { 'gameId': lastGame.id }) }}" class="btn-rate-game">
                            Rate Players
                        </a>
                    </div>
                </div>
            {% else %}
                <p>No recent games available.</p>
            {% endif %}
        </div>

        <div class="next-games-section">
            <h2 class="section-title">Next 5 Games</h2>
            {% if nextGames|length > 0 %}
                <ul class="next-games-list">
                    {% for game in nextGames %}
                        <li class="game-item">
                            <p><strong>Date:</strong> {{ game.date | date("d/m/Y") }}</p>
                            <p><strong>Opponent:</strong>
                                {% if game.TeamHome.id == selectedTeam.id %}
                                    {{ game.TeamAway.name }}
                                {% else %}
                                    {{ game.TeamHome.name }}
                                {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No upcoming games available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
